.headerparagraph{
    text-align: center;
}

.c1{
    height: 170px;
    background-color: blue;
    text-align: center;
    
}
.c2{
    height: 170px;
    background-color: rgb(94, 118, 38);
    text-align: center;
   
}
.boxheadline{
    text-align: center;
    color: white;
    /* background-color: blue; */

}
.backgroundcolor1{
    background-color: blue;
}
.backgroundcolor2{
    background-color: goldenrod;
}